body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #0017AE, #4F66FB);
}

/* PARA HEADER*/

header{
    background: linear-gradient(to right, #47EC53, #10A863);
    height: 15vh;
    display: grid;
    place-items: center;
}

#logo-header{
    width: 150px;
    height: auto;
}

nav{
    background-color: #969696;
    display: flex;
    justify-content: center;
    padding: 1%;
    gap: 5%;
}

nav a{
    font-size: 1.5rem;
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}

main{
    padding-top: 1%;
    padding-bottom: 1%;
}